.skill-container {
  margin-top: 40px;
  width: 100%;
}
.skill-heading {
  text-align: center;

  color: black;
  font-size: 30px;
  font-weight: bold;
}
.learn {
  text-decoration: 5px underline rgb(8, 8, 83);
}
.skill-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.skill-card {
  height: 400px;
  width: 30%;
  box-shadow: 0px 4px 16px 0px #bfbfbfbf;
  border-radius: 10px;
}
.header-card {
  height: 50px;
  width: 100%;
  background-color: rgb(6, 6, 73);
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.body-card {
  height: 300px;
  width: 100%;
  background-color: rgb(244, 248, 246);
  padding-left: 20px;
  padding-top: 20px;
}
.footer-card {
  height: 50px;
  width: 100%;
  background-color: rgb(6, 6, 73);
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.body-heading {
  color: rgb(7, 7, 82);
  font-size: 19px;
  font-weight: 700;
}
.body-list-name {
  color: rgb(7, 7, 82);
  font-size: 14px;
  font-weight: 500;
}
